@import './variables.scss';

view, view:before, view:after,
text, text:before, text:after,
image, image:before, image:after,
scroll-view, scroll-view:before, scroll-view:after,
movable-area, movable-area:before, movable-area:after,
cover-view, cover-view:before, cover-view:after,
icon, icon:before, icon:after,
rich-text, rich-text:before, rich-text:after,
progress, progress:before, progress:after,
button, button:before, button:after,
checkbox, checkbox:before, checkbox:after,
form, form:before, form:after,
input, input:before, input:after,
label, label:before, label:after,
picker, picker:before, picker:after,
picker-view, picker-view:before, picker-view:after,
radio, radio:before, radio:after,
slider, slider:before, slider:after,
switch, switch:before, switch:after,
textarea, textarea:before, textarea:after,
navigator, navigator:before, navigator:after,
audio, audio:before, audio:after,
video, video:before, video:after {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    /*隐藏滚轮*/
    width: 0;
    height: 0;
    color: transparent;
    display: none !important;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
  display: none !important;
}

body, page {
    height: 100%;
    width: auto;
    margin: 0;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%!important;
    text-size-adjust: 100%!important;
    min-height: 100vh;
    font-family:-apple-system,BlinkMacSystemFont,Avenir,Avenir Next,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

* {
    &::selection {
    background-color: $blush;
    color: #000000;
  }
}
