$turquoise: #47D5C7;
$white: #f5f5f5;
$blush: #D66588;
$black: #202020;
$mercury: #E4E4E4; // seperators & borders
$grey: #a4a4a4;
$blue: #104cfb;

$default-padding: 15px;

$panel-border: 1px solid $mercury;
